.jedis {
  color: blue;
  font-family: serif;
  font-stretch: semi-condensed;
}
.sith {
  font-size: 60px;
  color: #456;
  font-family: cursive;
}
.vader {
  font-family: cursive;
font-variant-ligatures: normal;}
